*,
html,
body {
  margin: 0px;
  padding: 0px;
  font-family: "DM Sans";
}
body {
  background-color: #ebeff5;
  margin: 0;
  font-family: "DM Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "DM Sans";
}
